// Widescreens
@include mediaXl {
    .sets-block {
        grid-template-columns: 1fr 1fr;
        overflow-x: auto;
    }

    .set-one {
        .bg-txt {
            width: 250px;
        }
        img {
            margin-left: 0;
        }
        .set-img {
            width: 190px;
            height: 224px;
        }
    }
    .set-two {
        padding: 24px 26px 31px 26px;
        .bg-txt {
            width: 250px;
        }
        .set-two__img {
            img {
                // width: 158px;
                // height: 231px;
            }
            .set-img {
                width: 190px;
                height: 224px;
            }
        }
    }

    .packs-list {
        overflow-x: auto;
        .pack-item {
            width: 256px;
        }
    }

    .drop-count__container {
        width: 60%;
    }
    .artist-newest__block {
        flex-direction: column;
        &:after {
            display: none;
        }
    }
    .artist-newest__img {
        display: none;
    }
    .artist-newest__desk {
        width: 90%;
        margin-bottom: 20px;
    }
}

// Desktops & laptops
@include mediaLg {
    .container {
        width: 100%;
    }

    .nav-icon {
        display: block;
    }

    .nav-collapse {
        // display: none;
        position: fixed;
        top: 0;
        left: -1000px;

        align-items: flex-start;
        // flex-direction: column;

        width: 100%;
        height: 100vh;

        background-color: #141416;
        transition: 0.5s ease-in;
        z-index: 10;
        &.nav-active {
            left: 0;
        }
        .nav-user-menu {
            display: flex;
        }

        .nav-collapse__main {
            // height: 100vh;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px 0 45px 50px;
        }

        .nav-collapse__button-close {
            display: flex;
            // align-items: center;
            width: 69px;
            height: 100vh;

            padding-top: 50px;

            background-color: #0b0b0c;
        }
    }

    .navbar {
        background-color: #0b0b0c;
        align-items: flex-start;
        // height: 100vh;
        .nav-container {
            justify-content: space-between;
        }
        .navbar-brand {
            border-right: none;
            .text-logo {
                display: none;
            }
        }
    }

    .navbar-list {
        flex-direction: column;
        align-items: flex-start;
        .user-avatar__item-menu {
            .user-dropdown__menu {
                right: unset;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                &:before {
                    left: 10px;
                }
            }
        }
        &.main {
            margin-left: 0;
            .nav-item {
                margin-right: 0;
                margin-bottom: 20px;
                .nav-link {
                    font-family: "Shapiro 75 Heavy Wide";
                    font-size: 1.25rem;
                    color: $color-white;
                }
            }
        }

        &.registration {
            align-items: flex-start;
            .nav-item {
                margin-right: 0;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .set-one {
        width: 476px;
        .set-one__img {
            width: 40%;
            // justify-content: flex-end;
            img {
                // width: 128px;
                // height: 201px;
            }
        }
        .set-one__txt {
            width: 60%;
        }
        .bg-txt {
            width: 150px;
            height: 680px;
        }
    }

    .set-two {
        width: 476px;
        .bg-txt {
            width: 150px;
            height: 680px;
        }
    }
    .collection-wrapper {
        &:before {
            display: none;
        }
    }

    .cards-list {
        .card-list__logged {
            align-items: center;
            flex-direction: column;
        }
        .card-logged {
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
        }
        .card-logged__img {
            width: 100%;
        }
    }

    .aside-user {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 0;
        .user-data__block {
            width: 200px;
        }
        .user-avatar__block {
            margin-right: 20px;
        }
        .user-edit__container {
            padding-bottom: 0;
            border: none;
            .user-info {
                margin-bottom: 10px;
                
            }
        }
        .user-share__block {
            display: none;
        }
    }
    .collection-container {
        flex-direction: column;
        padding-top: 45px;
    }
    .main-profile {
        padding-top: 0;
    }

    .how-to-action {
        &.drop {
            padding: 31px 0 45px;
        }
    }
    .how-it-work__block {
        padding: 53px 10px;
        .logo-block {
            img {
                width: 300px;
                height: 50px;
            }
        }
        .txt-block {
            .txt-block__title {
                font-size: 1.5rem;
            }
        }
    }
    .open-packs__block {
        text-align: left;
        margin-bottom: 26px;
    }

    .drop-main__header {
        flex-direction: column;
        .drop-header__img-block {
            display: flex;
            justify-content: center;
        }
    }

    .drop-main__aside {
        width: 100%;
        margin-bottom: 40px;
        &:after {
            display: none;
        }
    }
    .drop-details__block {
        max-width: 100%;
    }

    .drop-count__container {
        width: 80%;
    }

    .copyright {
        justify-content: center;
        .accept {
            display: none;
        }
        font-size: 0.5rem;
    }
    .additional-sort {
        &.additional-sort__marketplace {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .music-card__list {
        &.marketplace {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .pack-view__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
      "headerTitle"
      "headerImage"
      "headerContent";
        // padding: 20px 16px 44px;
        width: 100%;
        margin-top: 34px;
        &:after {
            display: none;
        }
    }

    .pack-top__block {
        &:after {
            content: "";

            position: absolute;
            top: 0px;
            bottom: 0;
            right: 0;
            display: block;
            width: 100%;

            z-index: -1;
            height: 350px;

            background-color: #23262f;
        }
    }

    .pack-bottom__block {
        width: calc(100% + 24px);
        margin-left: -12px;
        padding: 0 12px;
        &:before {
            content: "";

            position: absolute;

            bottom: 0;
            left: 0;
            right: 0;

            display: block;
            width: 100%;

            z-index: -1;
            height: 510px;

            background-color: #23262f;
        }

        .price-rate__block {
            margin-left: 0;
        }
    }

    .pack-carousel__block {
        margin: 20px 0 40px 0;
        justify-content: center;
    }

    .pack-carousel__block {
        .pack1 {
            margin-bottom: 50px;
        }
    }

    .artist-desk {
        margin-left: 0;
    }

    .tariff-plan__block {
        margin: 0;
    }

    .owned-block {
        margin: 0 0 50px 0;
    }

    .options-btn__block {
        margin: 0 0 40px 0;
    }
    .options-trade {
        margin: 0 0 22px 0;
    }
    .creator__block {
        margin: 23px 0 0 0;
    }

    .pack-details__container {
        .pack-chain__block {
            .chain-block {
                margin-left: 0;
            }
        }
        .pack-collectible__block {
            .rare-set {
                margin-left: 0;
            }
            .collectible-details {
                margin-bottom: 30px;
            }
            .explore-more {
                margin-left: 0;
            }
            .collectible-block {
                flex-direction: column;
                margin-left: 0;
                .collectible-txt {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .how-it-works__info-block {
        flex-direction: column;
        padding: 35px 0 100px;
        .info-img {
            width: 100%;
            margin-bottom: 50px;
        }

        .info-txt {
            width: 100%;
        }
    }

    .collaborate-artist__block {
        &:after {
            height: 160px;
            top: unset;
            bottom: -20px;
        }
        .collaborate-artist {
            width: 90%;
        }
    }

    .main-sort__block {
        .tariff-plan__filter-block {
            margin-left: 20px;
            .tariff-plan__btn {
                margin-right: 5px;
            }
        }
    }

    .section-carousel {
        padding: 55px 0 80px;
    }

    .footer {
        padding-top: 0;
    }

    .footer-row {
        flex-direction: column;
        .footer-logo__block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 90px 0 80px;

            border-bottom: 1px solid #353944;

            .some {
                display: flex;
                justify-content: space-between;
                padding-left: 0;
                a{
                    margin: 0 10px;
                }
            }
        }

        .footer-join__block {
            width: 100%;
            margin-top: 25px;
        }

        .footer-column {
            padding-top: 32px;
            padding-bottom: 32px;
            border-bottom: 1px solid #353944;
            &:last-child {
                border-bottom: none;
            }

            .footer-links__title {
                .icon-down-open {
                    display: block;
                }
            }
            .footer-links__btn {
                cursor: pointer;
            }
            .footer-links {
                display: none;
                &.open {
                    display: flex;
                }
            }
        }
    }

    .tab-content{
        display: flex;
        justify-content: center;
        
        width: 50vw; 
    }
    .edit-profile__password-block{
        width: 100%!important;

    }
    .edit-profile__socialmedia-block{
        width: 100%!important;
    }
    .edit-profile__name-block{
        width: 100%!important;
    }

  
}

// Tables & small laptops
@include mediaMd {
    .section-title {
        font-size: 2rem;
    }
    .header-wrapper {
        width: 100%;
    }
    .header-title__block {
        h1 {
            font-size: 2.5rem;
        }
    }

    .container {
        &.sets-block__container {
            padding: 0;
        }
    }
    .set {
        width: 409px;
    }
    .set-block {
        flex-direction: column;
    }
    .set-one {
        .bg-txt {
            width: 150px;
            height: 620px;
        }

        .set-one__img {
            width: 100%;
            img {
                margin-left: 70px;
                margin-bottom: 50px;
            }
        }
        .set-one__txt {
            width: 100%;
        }
    }

    .set-two {
        .bg-txt {
            width: 150px;
            height: 620px;
        }

        .set-two__img {
            width: 100%;
            img {
                margin-left: 70px;
                margin-bottom: 50px;
            }
        }
        .set-two__txt {
            width: 100%;
        }
    }

    .cards-list {
        padding: 50px 10px;
        .card-list__block {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .card-item {
            .card-title {
                font-size: 1.5rem;
            }
        }
    }
    .create-nft__container{
        width: 100%;
    }

    .start-txt__block {
        text-align: center;
    }
    .start-img__block {
        display: none;
    }
    .start-block {
        justify-content: center;
    }

    .enter-container {
        .enter-block {
            width: 78%;
        }
    }

    .artist-block__img {
        margin-bottom: 35px;
    }

    .section-open-packs {
        h2 {
            text-align: left;
        }
    }
    .drop-count__container {
        width: 100%;
        padding: 20px 20px 0 20px;
        .drop-count__count-block {
            img {
                width: 150px;
                height: 190px;
            }

            .event-timer__block {
                padding-bottom: 10px;
                margin-bottom: 5px;
                .timer {
                    font-size: 1.8rem;
                }
            }
            .status-update {
                font-size: 0.8rem;
            }
        }
        .queue-id {
            font-size: 1rem;
        }
    }
    .main-sort__block {
        flex-direction: column;
        align-items: flex-start;
        .type-packs__block {
            margin-bottom: 25px;
        }
        .sort-types {
            .clear-all {
                font-size: 0.6rem;
            }
            .show-filter {
                width: 120px;
                margin-right: 10px;
            }
            .form-select {
                width: 130px;
            }
        }
    }
    .additional-sort {
        grid-template-columns: repeat(1, 1fr);
        &.additional-sort__marketplace {
            grid-template-columns: repeat(1, 1fr);
        }
        .form-select {
            margin-bottom: 10px;
        }
    }

    .music-card__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        &.marketplace {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .main-sort__block {
        .tariff-plan__filter-block {
            margin-top: 20px;
            margin-left: 0;
            .tariff-plan__btn {
                margin-right: 2px;
                padding: 1px 5px 7px 5px;
            }
        }
        .type-packs__block {
            &.type-packs__block-marketplace {
                flex-direction: column;
            }
        }
    }

    .pack-top__block {
        &:after {
            height: 300px;
        }
    }

    .artist-desk {
        padding-left: 0;
        .artist-name {
            font-size: 1.75rem;
            margin-bottom: 10px;
        }
        .desk {
            font-size: 0.812rem;
        }
    }

    .tariff-plan__block {
        padding-left: 0;
    }

    .owned-block {
        padding-left: 0;
    }

    .options-btn__block {
        padding: 0;
    }
    .pack-bottom__block {
        .price-rate__block {
            padding: 0;
        }
    }

    .options-trade {
        padding: 0;
    }

    .creator__block {
        padding: 22px 0;
    }

    .greeting-user__block {
        margin-top: 25px;
        font-size: 2rem;
    }
    .logged-latest__block {
        margin-top: 50px;
        .logged-latest__title {
            h3 {
                font-size: 1.5rem;
            }
            a {
                font-size: 0.7rem;
            }
        }
    }
    .how-it-work {
        margin-top: 50px;
    }
    .grab-collectibles {
        .grab-title {
            font-size: 2rem;
        }
        .grab-list {
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }
    }

    .how-it-work__block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 53px 10px;
        .logo-block {
            margin-bottom: 30px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .txt-block {
            width: 100%;
        }
    }
    .artist-newest__desk {
        .artist-newest__name {
            font-size: 2rem;
        }
        .artist-txt__desk {
            font-size: 1rem;
        }
    }

    .how-it-works__score {
        flex-direction: column;
        .score-img__block {
            margin-right: 0;
        }
        .score-desk__block {
            width: 100%;
        }
    }
    .limited-edition__block {
        flex-direction: column;
        margin-bottom: 150px;
        .limited-edition__txt {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .section-collaborate {
        padding-top: 35px;
    }
    .collaborate-title__block {
        .section-title {
            font-size: 1.75rem;
        }
        img {
            margin-bottom: 35px;
        }
    }
    .music-card__container {
        .empty-collection{
            .balance-block__input{
                flex-direction: column;
                width: 100%;
                .balance-title{
                    width: 100%;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .btn-balance{
                    margin-top: 20px;
                }

                .my-balance__block{
                    width: unset;
                }

            }
         
            .my-balance{
                align-items: center;
                // width: 100%;
            }
        }
    } 
  

    // MODAL //
    .modal-content {
        padding: 0 32px;
        &.modal-content__select-buy {
            padding: 17px;
        }
    }

    .modal-body {
        .for-sale__manual-block {
            font-size: 0.9rem;
        }
    }
    .buy-list {
        .buy-item {
            .buy-now__btn {
                padding: 7px 10px 10px;
                font-size: 0.5rem;
            }
        }
    }
}

// Smartphones
@include mediaSm {
    .set {
        width: 309px;
    }
    .set-one {
        .set-one__img {
            .set-img {
                margin-left: 50px;
            }
        }

        .bg-txt {
            width: 80px;
            height: 680px;
        }
    }

    .set-two {
        .set-two__img {
            .set-img {
                margin-left: 50px;
            }
        }
        .bg-txt {
            width: 80px;
            height: 680px;
        }
    }

    .enter-container {
        .enter-block {
            width: 98%;
        }
    }

    .drop-full__screen-wrapper {
        .open-block {
            img {
                width: 207px;
                height: 263px;
            }
        }
    }
    .open-container__title {
        h3 {
            font-size: 1.5rem;
        }
    }
    .drop-main__aside {
        padding: 51px 10px 0 10px;
    }
    .drop-details__block {
        .details-block__title {
            padding: 15px 10px 26px;
        }
    }

    .drop-count__container {
        .drop-count__title-block {
            h3 {
                font-size: 1.2rem;
            }
        }
        .drop-count__count-block {
            .user-in-line {
                margin-top: 0;
            }
            .event-timer__block {
                .in-line {
                    font-size: 1.8rem;
                }
            }
        }
        .message-updated__block {
            padding: 16px 10px 26px;
        }
    }

    .drop-main__header {
        &:before {
            max-height: 505px;
        }
        &:after {
            max-height: 505px;
        }
    }

    .drop-main__header {
        .drop-header__img-block {
            img {
                width: 253px;
                height: 290px;
            }
        }
    }
    .aside-user {
        // justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 10px;
        .user-avatar__block {
            // margin-right: 0;
            img {
                width: 97px;
                height: 97px;
            }
        }
        .user-edit__container {
            padding: 0;
            .user-info {
                .user-name {
                    font-size: 0.875rem;
                }
            }
        }
        .user-edit__btn-block {
            margin-bottom: 0;
        }
        .member-date {
            font-size: 0.625rem;
            
        }
    }
    .drop-main__aside {
        .aside-title__block {
            .aside-pack__title {
                font-size: 2rem;
            }
        }
    }
    .drop-details__block {
        .details-desc__block {
            padding-left: 0;
        }
    }
    .music-card__list {
        grid-template-columns: repeat(2, 1fr);

        &.marketplace {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .music-card__item {
        .music-img {
            padding-bottom: 20px;
            // img {
            //   width: 110px;
            //   height: 117px;
            // }
        }
        .music-title {
            font-size: 0.75rem;
        }
        .type {
            font-size: 0.625rem;
        }
        .item-music__tariff-plan {
            font-size: 0.625rem;
        }
    }

    .pack-view__container {
        margin-bottom: 42px;
    }

    .pack-carousel__block {
        .carousel-pack {
            width: 284px;
            .slick-arrow {
                top: 25%;
                right: -39px;

                &.next {
                    right: -79px;
                }
            }
        }
        .slider-nav {
            width: 240px;
        }

        .pack2 {
            img {
                width: 70px;
                height: 70px;
            }
        }
    }
    .pack2.slick-slide.slick-active {
        width: 80px !important;
    }

    .pack-details__container {
        .desk-title {
            padding: 15px 0 26px 30px;
            font-size: 1.5rem;
        }
        .pack-properties__block {
            .properties {
                padding: 38px 22px 31px 22px;
            }
        }
        .pack-chain__block {
            .chain-title {
                margin-right: 25px;
            }
        }
    }
    .how-it-works__info-block {
        .info-txt {
            font-size: 0.875rem;

            .info-txt__title {
                font-size: 1.5rem;
                line-height: 40px;
            }
        }
    }
    .score-desk__block {
        .score-title {
            line-height: 44px;
        }
    }

    .how-it-works__score {
        .score-tariff-plan__wrapper {
            .score-plan {
                width: 62px;
                height: 62px;
            }
            .score-tariff-plan__block {
                .score-plan__type {
                    font-size: 0.7rem;
                }
            }
        }
    }

    .limited-edition__block {
        .limited-edition__txt {
            margin-right: 0;
        }
    }
    .collaborate-artist__block {
        padding: 24px 10px 42px;
        .collaborate-artist__title {
            font-size: 1.75rem;
            line-height: 30px;
        }
        &:after {
            height: 160px;
            top: unset;
            right: -190px;
            bottom: -30px;
        }
        .collaborate-artist {
            width: 100%;
            font-size: 1rem;
        }
    }

    .what-is__block {
        flex-direction: column;
        .what-nft {
            width: 100%;
            margin-bottom: 25px;
        }
    }
    .key-section {
        .key-section__title {
            line-height: 44px;
        }
        .key-block {
            grid-column-gap: 20px;
        }
    }

    .edit-profile__container {
        grid-template-columns: repeat(1, 1fr);
    }

    // MODAL //

    .modal-content {
        &.modal-content-contact {
            padding: 0 10px;
        }
    }
    .modal-header {
        .modal-title {
            font-size: 1.5rem;
        }
    }

    .modal-body {
        .for-sale__manual-block {
            font-size: 0.587rem;
            margin-bottom: 37px;
        }
        .for-sale__desc-block {
            // padding: 26px 24px;
            margin-bottom: 27px;
            .img-block {
                width: 81px;
                height: 120px;

                &.img-tickets {
                    width: 180px;
                    height: auto;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .desc-name {
                font-size: 0.75rem;
            }
            .type-desc {
                font-size: 0.562rem;
            }
            .tariff-plan {
                font-size: 0.562rem;
                .plan-icon {
                    font-size: 0.525rem;
                }
            }
        }
        .for-sale__price-block {
            width: 100%;
            margin-bottom: 12px;
            input {
                margin-bottom: 9px;
            }
            .price-block__txt {
                .fee {
                    padding-bottom: 9px;
                }
                .total-payout {
                    padding-top: 9px;
                }
            }
        }

    


    }
    .create-nft__container {
        .tox-tinymce{
            width: 100%;
        }
    }
    .create-pack__mod {
        .tox-tinymce{
            width: 100%;
        }
    }
        .create-nft__block{
            .inputs-nft__block{
                flex-direction: column;
                label{
                    width: 100%;
                    padding-bottom: 10px;
                }
                input{
                    width: 100%;
                }
            }
        }
     
    .prize-timer__block {
        p {
            font-size: 0.562rem;
        }
    }

    

    .modal-footer {
        .for-sale__btn-block {
            width: 100%;
            padding-bottom: 20px;
            p {
                font-size: 0.562rem;
            }
        }
    }

    .tab-content{
        width: 100vw; 
    }
}
